<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </head>
   <body>
      <h1>Flask Chatterbot Example</h1>
      <h3>A web implementation of <a href="https://github.com/gunthercox/ChatterBot">ChatterBot</a> using Flask.</h3>
      <div class="BoxLocation" id="BoxID">
         <div id="chatbox">
            <p class="botText"><span>Hi! I'm ChatterBot.</span></p>
         </div>
         <hr/>
         <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Press Enter to Send">
         </div>
         <script>           
            function getBotResponse()                 
                                    {
              var rawText = $("#textInput").val();
              var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                   $("#textInput").val("");
              $("#chatbox").append(userHtml);
                                   
              $.get("/get", { msg: rawText }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
            $("#chatbox").stop().animate({ scrollTop: $("#chatbox")[0].scrollHeight}, 1000);
              });
                                      }
                                    
            $("#textInput").keypress(function(e) {  
                if(e.which == 13) {
                     getBotResponse();
                                  }
            });
            
                              
                      
         </script>
      </div>
   </body>
</html>
